<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{getEdad()>=18 ? 'Mayor de edad':'Menor de edad'}}</p>
<p>Empresa del empleado: {{empresa}}</p>
<br>
<!-- Introduce el nombre de la empresa <input type="text" #empresa (keyup)='0' [disabled]='HabilitarEntrada'> -->

Introduce el nombre de la empresa <input type="text" [(ngModel)]="empresa">

<br>
<br>

<!--<input type="button" value="Vamos!" (click)='ObtenEmpresa(empresa.value)'/>-->

<hr>
<h2>{{textoDeRegistro}}</h2>

Registrado <input type="radio" name="nRegistro" value='Si' id="registro" [checked]='registrado' (click)='setUsuarioRegistrado($event)' >
No Registrado <input type="radio" name="nRegistro" value='No' (click)='setUsuarioRegistrado($event)'>


{{getRegistro()}}
